<h2 class="text-center mb-4"><%= @group.name %></h2>

<div class="mb-4">
  <h3 class="mb-2">📏 Rules</h3>
  <%= if @group.rules do %>
    <p><%= @group.rules %></p>
  <% else %>
    <p class="italic">There are no group rules</p>
  <% end %>
</div>


<div class="mb-4">
  <h3 class="mb-2">👤 Members</h3>
  <%= for membership <- @group.group_memberships do %>
    <p>
      <%= membership.user.name %>
      <%= if membership.user.id == @current_user.id do %>
        <span>(You!)</span>
      <% end %>
      <span>[<%= membership.role %>]</span>
    </p>
  <% end %>
</div>

<div class="mb-4">
  <%= link("Invite Members", to: Routes.join_path(@conn, :show, @group.join_code), class: "button mb-2") %>
  <p>Alternatively, tell your friends to use the join code <span class="text-lg uppercase"><%= @group.join_code %></span> after they register.</p>
</div>

<%= if @is_group_admin do %>
  <div class="mb-4">
    <h3 class="mb-2">⚙️ Actions</h3>
    <%= link("Edit Group", to: Routes.group_path(@conn, :edit, @group),
      class: "button mb-4") %>

    <%= button("Delete Group", to: Routes.group_path(@conn, :delete, @group), method: :destroy,
      class: "button button--danger mb-4") %>
  </div>
<% end %>
