<h1>Edit Gift idea</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.gift_idea_path(@conn, :update, @gift_idea)) %>

<span><%= link "Back", to: Routes.gift_idea_path(@conn, :index) %></span>
