<%= if @group do %>
  <p class="text-center mb-6">
    You are part of the
    <%= link(@group.name, to: Routes.group_path(@conn, :show, @group), class: "text-xl underline") %>
    secret santa group
  </p>

  <div class="mb-8">
    <%= if @secret_santa do %>
      <p class="text-2xl text-center">
        You are
        <span class="text-3xl"><%= @secret_santa.name %></span>'s
        Secret Santa!
      </p>
    <% else %>
      <p class="text-lg text-center mb-2">
        Secret Santas have not been drawn, yet!
      </p>
      <%= if @is_group_admin do %>
        <%= button("Start Secret Santa!", to: Routes.secret_santa_path(@conn, :start), class: "button mx-auto") %>
      <% else %>
        <p class="text-lg text-center">
          Check back later when an admin has started Secret Santa
        </p>
      <% end %>
    <% end %>
  </div>

  <div class="mb-4">
    <h3 class="mb-1">📏 Group Rules</h3>
    <%= if @group.rules do %>
      <p><%= @group.rules %></p>
    <% else %>
      <p class="italic">There are no group rules</p>
    <% end %>
  </div>

  <%= if @secret_santa do %>
    <div class="mb-4">
      <h3 class="mb-1">🎁 Their Gift Ideas</h3>
      <%= if length(@secret_santa.gift_ideas) == 0 do %>
        <p class="italic">They have not added any gift ideas yet</p>
      <% end %>
      <%= for idea <- @secret_santa.gift_ideas do %>
        <p><%= idea.idea %></p>
      <% end %>
    </div>
  <% end %>

  <div class="mb-4">
    <h3 class="mb-1">🎁 Your Gift Ideas</h3>
      <%= if length(@gift_ideas) == 0 do %>
        <p class="italic">You have not added any gift ideas yet</p>
      <% end %>
    <%= for idea <- @gift_ideas do %>
      <p><%= idea.idea %></p>
    <% end %>
  </div>

  <p class="mb-1">Add gift ideas to help your secret santa</p>
  <.form let={f} for={@gift_idea_changeset} action={Routes.gift_idea_path(@conn, :create)}>
    <%= text_input f, :idea, required: true, class: "text-input mb-2" %>

    <%= submit "Add Idea", class: "button" %>
  </.form>
<% else %>
  <div class="mb-6">
    <h3 class="text-center">You don't have a Group!</h3>
    <p class="text-center">You can either join an existing group or create a new one.</p>
  </div>

  <div class="mb-4">
    <%= link("Join a Group", to: Routes.group_path(@conn, :new), class: "mx-auto button") %>
  </div>
  <div class="text-center mb-4">
    or
  </div>
  <div class="mb-4">
    <%= link("Create a Group", to: Routes.group_membership_path(@conn, :new), class: "mx-auto button") %>
  </div>
<% end %>
