<h2>Join Group</h2>

<.form let={f} for={@changeset} action={Routes.group_membership_path(@conn, :create)}>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :join_code %>
  <%= text_input f, :join_code %>
  <%= error_tag f, :join_code %>

  <div>
    <%= submit "Join Group" %>
  </div>
</.form>
