<main class="max-w-screen-md mx-auto px-4">
  <p role="alert"
    class="p-2 text-white text-md bg-blue-300 empty:hidden"
  ><%= get_flash(@conn, :info) %></p>
  <p role="alert"
    class="p-2 text-white text-md bg-red-300 empty:hidden"
  ><%= get_flash(@conn, :error) %></p>

  <%= @inner_content %>
</main>
