<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "SecretSanta", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header class="mb-4">
      <nav class="max-w-screen-md mx-auto pt-8 pb-4 flex justify-end">
        <%= render "_user_menu.html", assigns %>
      </nav>

      <%= link to: Routes.dashboard_path(@conn, :show),
        class: "text-3xl mx-auto text-center" do %>
        <div>🎅🎁🎄</div>
        <div>Secret Santa</div>
      <% end %>
    </header>
    <%= @inner_content %>
  </body>
</html>
